<div class="row-fluid" >
    <form name="registerForm" class="form-horizontal" ng-controller="RegisterCtrl">
        <div>
            <div ng-repeat="error in errorMessages">
                <span class="warning" ng-bind="error"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="UserName">User Name </label>
            <input class="input-large" id="UserName" name="UserName" type="text" required ng-model="brewer.UserName" >
        </div>
        <div class="control-group">
            <label class="control-label" for="FirstName">First Name </label>
            <input class="input-large" id="FirstName" name="FirstName" type="text" required ng-model="brewer.FirstName">
        </div>
        <div class="control-group">
            <label class="control-label" for="LastName">Last Name </label>
            <input class="input-large" id="LastName" name="LastName" type="text" required ng-model="brewer.LastName">
        </div>
        <div class="control-group">
            <label class="control-label" for="Email">Email </label>
            <input class="input-large" id="Email" name="Email" type="text" required ng-model="brewer.Email" >
        </div>
        <div class="control-group">
            <label class="control-label" for="Location">Location </label>
            <input class="input-large" id="Location" name="Location" type="text" ng-model="brewer.Location">
        </div>
        <div class="control-group">
            <label class="control-label" for="Bio">Bio </label>
            <textarea id="Bio" name="Bio" ng-model="brewer.Bio" class="input-large"></textarea>
        </div>
        <div class="control-group">
            <label class="control-label" for="WebSite">Web Site </label>
            <input class="input-large" id="WebSite" name="WebSite" type="text" ng-model="brewer.WebSite">
        </div>
        <div class="control-group">
            <label class="control-label" for="Password">Password </label>
            <input class="input-large" id="Password" name="Password" type="password" ng-model="password" required>
        </div>
        <div class="control-group">
            <label class="control-label" for="ConfirmPassword">Confirm Password </label>
            <input class="input-large" id="ConfirmPassword" name="ConfirmPassword" type="password" ng-model="confirmpassword" required>
        </div>
        <div>
            <div ng-repeat="error in errorMessages">
                <span class="warning" ng-bind="error"></span>
            </div>
        </div>
        <div class="control-group">
            <input type="submit" title="Save" ng-click="save()" ng-disabled="registerForm.$invalid" class="btn btn-large" ></input>
            <a href="#/" class="btn btn-large">Cancel</a>
        </div>
    </form>
</div>
